* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    padding: 10px;
}

a{
    text-decoration: none;
}

.logo-principal{
    height: 150px;
}

ul {
    list-style: none;
}

.first-nav-conteiner, .second-nav-conteiner {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-nav-conteiner ul, .second-nav-conteiner ul {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.second-nav-conteiner {
    margin: 10px auto;
    justify-content: center;
    padding-bottom: 2%;
    border-bottom: rgba(18, 35, 187, 0.199) solid 1px;
}

li:hover{
    font-size:120%;
    font-weight: bold;
    color: blue;

}

.category img {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: black solid 1px;
}

.category {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 400px;
    margin-left: 40%;
    padding: 20px; 
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #0d0ad6;
}

.inf-conteiner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;

}

.inf-conteiner img{
    width: 450px;
    height: 350px;
    border-radius: 8%;
    border: black solid 5px;
}

.inf2-conteiner{
    margin-bottom: 5%;
}

.inf2-conteiner h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100px;
    
}

.inf2-conteiner p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 200px;
}

.inf2-conteiner a {
    display: flex;
    margin-left: 670px;
    margin-bottom: 0
}

.inf2-conteiner a:hover{
    font-weight: bolder;
    color: blue;
}

.content-section {
    border-bottom: rgba(18, 35, 187, 0.199) solid 1px;
    margin-top: 2px;
    width: 1400px;
    margin: 10px;
}

#logotop img{
    margin-top: 3%;
    margin-left: 45%;
    width: 150px;
    height: 100px;
}

.top10 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 30px;
}

.top10 img {
    width: 150px;
    height: 100px;
    border-radius: 8%;
    margin-top: 10px;
    border: #0d0ad6 solid 1px;
}


.inf-logo {
    width: 150px;
    height: 80px;
    margin-left: 1%;
    text-align: center;
    padding: 3px;
}

.inf-logo h5 a:hover{
    font-size:larger;
    font-weight: bold;
    color: blue;
}
